1. 파일 불러오기

In [1]:
import pandas as pd

# 파일 불러오기
df1 = pd.read_excel('KCI_H_part1.xlsx')
df2 = pd.read_excel('KCI_H_part2.xlsx')

# 불러온 데이터 확인 (앞 3줄만 보기)
print(df1.head(3))
print(df2.head(3))

           논문ID 주저자명 공동저자명 주저자소속기관 주저자ORCID                             논문제목  \
0  ART001134609  강인욱   NaN   서울대학교      NaN     韓半島 出土 動物形 帶鉤의 系統에 대한 시론적 검토
1  ART001134565  안승모   이영덕   원광대학교      NaN  龍潭댐 水沒地區의 新石器文化-鎭安 갈머리遺蹟을 中心으로-
2  ART001134567  노혁진   NaN   한림대학교      NaN                 中島式吐器의 由來에 대한 一考

  논문외국어제목 논문영어제목   학술지ID    학술지명  ...  \
0     NaN    NaN  000669  호남고고학보  ...
1     NaN    NaN  000669  호남고고학보  ...
2     NaN    NaN  000669  호남고고학보  ...

                                         키워드 외국어키워드 영어키워드   언어 참고문헌수 피인용횟수  \
0           동물형 대구, 마형대구, 호형대구, 동물장식, 세형동검문화    NaN   NaN  NaN    59    16
1                신석기시대, 즐문토기, 금강, 용담댐, 갈머리유적    NaN   NaN  NaN    39     5
2   중도식토기, 끄로우노프까문화, 호곡동, 강원영동, 북한강권, 동북전파가설    NaN   NaN  NaN    33    29

   DOI       주제분야                                                URL 등재구분
0  NaN  인문학 > 역사학  https://www.kci.go.kr/kciportal/ci/sereArticle...   등재
1  NaN  인문학 > 역사학  https://www.kci.go.kr/kciportal/ci/sereArticle...   등재
2  NaN  인문학 > 역사학  https://www.kci.go.kr/kciportal/ci/sereArticle...   등재

[3 rows x 36 columns]
          논문 ID  저자명     주저자 소속기관 주저자 ORCID  \
0  ART003052982  박관우        전북대학교       NaN
1  ART003052983  서현주    한국전통문화대학교       NaN
2  ART003052980  김은정  (재)대한문화재연구원       NaN

                                        논문제목  \
0                     마한토기 외파수발(把手鉢)의 성격과 변천
1                     고흥지역 백제 사비기 고분의 변천과 성격
2  1∼6세기 섬진강 상류 지역 정치체의 성장과 변동 -취락 자료를 중심으로-

                                              논문외국어명  \
0  On the Characteristics and Transition of Mahan...
1  Changes and Characteristics of Ancient Tombs d...
2  Growth and Changes in the Political System of ...

                                               논문영어명   학술지ID    학술지명 학술지약어명  \
0  On the Characteristics and Transition of Mahan...  000669  호남고고학보    NaN
1  Changes and Characteristics of Ancient Tombs d...  000669  호남고고학보    NaN
2  Growth and Changes in the Political System of ...  000669  호남고고학보    NaN

   ...                              저자키워드  \
0  ...           마한, 토기, 외파수발, 성격, 기능, 변천
1  ...           고흥, 백제, 사비기, 고분, 석실묘, 산성
2  ...  취락, 주거, 섬진강, 정치체, 원삼국∼삼국시대(1∼6세기)

                                              외국어키워드  \
0  Mahan, Pottery, Wepasuval, Characteristics, Fu...
1  Goheung, Baekje, Sabi period, ancient tombs, s...
2  Settlement, Residence, Seomjin River, Politica...

                                               영어키워드   언어 참고문헌 수 피인용 횟수  \
0  Mahan, Pottery, Wepasuval, Characteristics, Fu...  한국어      0      0
1  Goheung, Baekje, Sabi period, ancient tombs, s...  한국어      0      0
2  Settlement, Residence, Seomjin River, Politica...  한국어      0      1

                                         DOI       주제분야  \
0   https://doi.org/10.55473/JHAS.2024.76.74  인문학 > 역사학
1  https://doi.org/10.55473/JHAS.2024.76.112  인문학 > 역사학
2   https://doi.org/10.55473/JHAS.2024.76.46  인문학 > 역사학

                                                 URL  KCI 등재 구분
0  https://www.kci.go.kr/kciportal/ci/sereArticle...         등재
1  https://www.kci.go.kr/kciportal/ci/sereArticle...         등재
2  https://www.kci.go.kr/kciportal/ci/sereArticle...         등재

[3 rows x 35 columns]

2. 컬럼명 통일하기

In [2]:
# df1 컬럼명 통일
df1 = df1.rename(columns={
    '논문ID': '논문ID',
    '발행년도': '발행년도',
    '논문영어제목': '논문영어제목',
    '영어초록': '영어초록'
})

# df2 컬럼명 통일
df2 = df2.rename(columns={
    '논문 ID': '논문ID',
    '발행 연도': '발행년도',
    '논문영어명': '논문영어제목',
    '영어초록': '영어초록'
})

3. 사용하고자 하는 컬럼 추출

In [3]:
df1 = df1[['논문ID', '발행년도', '논문영어제목', '영어초록']]
df2 = df2[['논문ID', '발행년도', '논문영어제목', '영어초록']]

4. 두 파일 병합(concat)

In [4]:
combined = pd.concat([df1, df2], ignore_index=True)

5. 결측치 확인

In [5]:
combined.isnull().sum()

논문ID          0
발행년도          0
논문영어제목    15941
영어초록      39364
dtype: int64

6. 데이터 확인을 위해 CSV 생성

In [7]:
combined.to_csv('combined_papers.csv', index=False, encoding='utf-8-sig')

7. SCV 내용 확인

In [8]:
import pandas as pd

df = pd.read_csv('combined_papers.csv')
df.head(10)  # 상위 10줄 보기

           논문ID  발행년도 논문영어제목 영어초록
0  ART001134609  2004    NaN  NaN
1  ART001134565  2004    NaN  NaN
2  ART001134567  2004    NaN  NaN
3  ART001134520  2004    NaN  NaN
4  ART001134566  2004    NaN  NaN
5  ART001134612  2004    NaN  NaN
6  ART000939115  2004    NaN  NaN
7  ART001134610  2004    NaN  NaN
8  ART001134611  2004    NaN  NaN
9  ART000939116  2004    NaN  NaN

8. 영어초록 있는 논문만 남기기

In [10]:
filtered = combined[
    combined['영어초록'].notnull() & (combined['영어초록'].str.strip() != '')
]
filtered.to_csv('abstract_only.csv', index=False, encoding='utf-8-sig')

In [11]:
print(f"전체 행 수: {len(combined)}")
print(f"영어초록 있는 행 수: {len(filtered)}")

전체 행 수: 347470
영어초록 있는 행 수: 297194

9. 데이터 스키마 확인

In [13]:
import pandas as pd

df = pd.read_csv('abstract_only.csv')

# 기본 정보 확인
print(df.shape)
print(df.columns)
df.head()

(297194, 4)
Index(['논문ID', '발행년도', '논문영어제목', '영어초록'], dtype='object')

,논문ID,발행년도,논문영어제목,영어초록
0,ART000975170,2005,Study on the Investigation of Stone Chamber-to...,Large tombs in chonnam province are burial mou...
1,ART001134661,2005,A Study of hunting trap and method,This paper is draw up with the object of exami...
2,ART000975171,2005,Production of Mirror with coarse lines on thei...,Mirrors with coarse lines on their back(多鈕粗文鏡)...
3,ART001255683,2008,Establishment of Ma-han(馬韓) Kuk(國) in the regi...,The representative relic that can be related t...
4,ART001261014,2008,Changes of Pottery in Yeongsan River Basin in ...,Although the Jar-coffin tomb society existed i...